<%- include("partials/header", {name: name,p_link: p_link}) %>

<div class="container mt-5">
    <h1>Register</h1>
  
    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /register route -->
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="text">Username</label>
                <input type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-dark form_btn">Register</button>
            </form>
  
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12 mx-lg-auto social_log">
        <div class="card" style="width: fit-content;">
          <div class="card-body" style="width: fit-content;">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="reg fab fa-google"></i>
              <span class="text">Sign Up with Google</span>
            </a>
          </div>
          <div class="card-body" style="width: fit-content;">
            <a class="btn btn-block btn-social btn-github" href="/auth/github" role="button">
              <i class="reg fab fa-github"></i>
              <span class="text">Sign Up with Github</span>
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <%- include("partials/footer") -%>